<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Wikiflix</title>
<script type="text/javascript" src="https://js-cdn.dynatrace.com/jstag/17b5f18726d/bf46701ugs/d771064c4d8c8904_complete.js" crossorigin="anonymous"></script>
    <link rel="shortcut icon" href="/images/icon-favicon.png" type="image/x-icon" />
    <!--boxIcons-->
    <link href="https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css" rel="stylesheet" />
    <!-- css custom -->
      <link rel="stylesheet" href="/stylesheets/perfil.css"/>

  </head>
  <body>
    <!--------------SCROLL TOP------------------------>
    <a href="#" class="scrolltop" id="scroll-top">
      <i class="bx bx-chevrons-up scroll__top__icon"></i>
    </a>

    <!--------------HEADER------------------------>
    <header class="header" id="header">
      <!-- NAV -->
      <nav class="nav bd-container">
        <a href="/catalog" class="logo"><img src="/images/logo-header.png" width="140px" alt="" /></a>

        <div class="nav__menu" id="nav-menu">
          <ul class="nav__list">
            <li class="nav__item"><a href="/catalog" class="nav__link">Inicío</a></li>
            <li class="nav__item"><a href="/users/editar/<%= usuario.id_hash %>" class="nav__link">Olá, <%= usuario.nome + " " + usuario.sobrenome %> </a></li>
            <li class="nav__item"><a href="/users/logout" class="nav__link">Encerrar sessão</a></li>
          </ul>
        </div>

        <!--MENU TOGGLE-->
        <div class="nav__toggle">
          <i class="bx bx-menu" style="color: #e8a330" id="nav-toggle"></i>
        </div>
        <!-- END MENU TOGGLE -->
      </nav>
      <!-- END NAV -->
    </header>
  
  <!-- MAIN -->
  <main>
    
    <div class="main-edit">
      <div class="left-edit">
        <img src="/images/profile-pic-animate.svg" class="left-edit-img" alt="imagem perfil">
        <h2> Edite seu perfil <span> Wikiflix</span></h2>

      </div>
      <div class="right-edit">
        <div class="card-edit">

        <div class="img-container" style="  background-image: url('/images/uploads/<%= usuario.name_img %>');">

        </div>
            

          
          <% if (erros) { %>
            <ul class="msg">
              <% erros.forEach(erro => { %>
                <li><%= erro.msg %></li>
              <% }) %>
            </ul>
          <% } %>

          <% if (success) { %>
            <ul class="msg">
              <% success.forEach(ok => { %>
                <li><%= ok.msg %></li>
              <% }) %>
            </ul>
          <% } %>

          <form class="form" action="/users/editar/<%= usuario.id_hash %>?_method=PUT" method="POST" >
            <div class="textfield">
              <label for="nome">Nome </label>
              <input type="text" name="nome" value="<%= usuario.nome %>" />
            </div>
            <div class="textfield">
              <label for="sobrenome">Sobrenome</label>
              <input type="text" name="sobrenome" value="<%= usuario.sobrenome %>" />
            </div>
          <div class="textfield">
            <label for="email">Email</label>
            <input type="email" name="email" value="<%= usuario.email %>" />
          </div>
          <div class="textfield">
            <label for="senha">Senha</label>
            <input type="password" name="senha" id="senha" placeholder="Digite a senha para confirmar" class="modal-input-signUp" required>
          </div>
          <div class="textfield">
            <label for="confime-senha">Confirme a Senha</label>
            <input type="password" name="confirmeSenha" id="confirmeSenha" placeholder="Repita a senha" class="modal-input-signUp" required>
          </div>



            <div class="buttons">
              <a href="/catalog" class="btn-modal">Voltar</a>
              <button type="submit" class="btn-modal">enviar</button>
            </div>

          </form>

          <form class="delete" action="/users/deletar/<%= usuario.id_hash %>?_method=DELETE" method="POST">
            <button type="submit" class="btn-delete">Desativar conta</button>


  </main>
  <%- include('./partials/footer') %>
  
    <!-- js -->
    <script src="/javascripts/mainLogin.js"></script>
    <script src="/javascripts/main.js"></script>
