<%- include('./partials/headerLogado') %>
  <!-- MOVIE INFO     -->

  <div class="movie-info">
    <div class="movie-detail">
      <h1 class="movie-name"></h1>
      <p class="genres"></p>
      <p class="des"></p>

      <p class="starring"><span>Starring : </span></p>

    </div>
  </div>

  <!-- Trailers -->

  <div class="trailer-container">
    <h1 class=".heading-about">Trailers</h1>
    <!-- <iframe src="" title="YouTube video player" frameborder="0" 
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope;
       picture-in-picture" allowfullscreen></iframe> -->
  </div>

  <!-- Recommendations -->
  <div class="recommendations">
    <h1 class=".heading-about">Titulos Semelhantes</h1>
    <div class="recommendations-container">
      <!-- <div class="movie">
          <img src="img/poster.jpg" alt="">
          <p class="movie-title">nome filme</p>
        </div> -->
    </div>
  </div>

  <!-- REVIEWS -->
  <div class="review-title">
    <h1 class=".heading-about">Avaliações</h1>
  </div>

    <% reviews.forEach(review => { %>
      <div class="review">
        <div class="row">
          <!-- <div class="col-md-1">
              <div class="profile-image-container review-image" style="background-image: url('../../public/images/user.png')"></div>
            </div> -->
          <div class="col-md-8 author-details-container">
            <h4 class="author-name">
              <a href="#"><%= review.usuario.nome + " " + review.usuario.sobrenome %> </a>
            </h4>
          </div>
          <p class="comment-title">Comentou:</p>
          <p><%= review.review %> </p>
        </div>

          <% if(review.usuario_id === usuario.id){ %>
            <form action="/movies/deletar/<%= idMovie %>">
            <button class="deleteReview">Excluir meu review</button>
            </form>
            <% } %> 

      </div>
      <% }) %> 




      <!-- <div class="row"> -->
      <!-- <div class="col-md-1">
          <div class="profile-image-container review-image" style="background-image: url('../../public/images/user.png')"></div>
        </div> -->
      <!-- <div class="col-md-8 author-details-container">
        <h4 class="author-name">
          <a href="#"> Daniel Oliveira </a>
        </h4>
      </div>
      <p class="comment-title">Comentário:</p>
      <p>Este é o comentário do usuário</p>
    </div>
    </div> -->




  <!-- FORM-REVIEW -->
  <div class="reviews" id="review-form-container">
    <h3 class=".heading-about">Compartilhe o que achou</h3>
    <p class="page-description">Preencha o formulário com a sua avaliação sobre o filme</p>
    <form action="/movies/<%= idMovie %>" id="review-form" method="POST">
      <input type="hidden" name="type" value="create">
      <input type="hidden" name="movies_id" value="<?= $movie->id ?>">
      <div class="form-group">
      </div>
      <div class="form-group">
        <label for="review">Sua avaliação:</label>
        <textarea name="reviews" id="reviews" rows="3" class="form-control" placeholder="O que você achou do filme?" required></textarea>
      </div>
      <button type="submit" class="card-btn">Enviar Review</button>
    </form>
  </div>




  </main>
  <%- include('./partials/footer') %>

    <script src="/javascripts/api.js"></script>
    <script src="/javascripts/about.js"></script>
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>


</body>

</html>